/*CSS rules for p4*/
/*This CSS validates on W3C as CSS level 3 */

body {
	font-family: Veranda, Arial, sans-serif;
	font-size: small;
	background-color: #F0F0F0;
}


.center{
	width: auto;
	height:  auto;
	border-style: solid;
     	border-width: 1px;
	border-color: black;
	padding: 20px;
	margin-right:  20%;
	margin-left: 20%;
	background-color: #D0D0D0;
}

.form {
	font-size: 120%;
	font-weight: bold;
}

.test {

	border-style: solid;
     	border-width: 1px;
	border-color: green;
}

.list {

	border-style: solid;
     	border-width: 2px;
	border-color: green;
	margin-bottom: 5px;
	padding: 10px;
	border-radius: 25px;
}

