/*CSS rules for p4*/
/*This CSS validates on W3C as CSS level 3 */

body {
/* #33ADFF */
	font-family: Veranda, Arial, sans-serif;
	font-size: small;
	background-color: #F0F0F0; 
}


.center{
	width: auto;
	height:  auto;
	border-style: solid;
     	border-width: 1px;
	border-color: black;
	padding: 20px;
	margin-right:  20%;
	margin-left: 20%;
 	background: -webkit-linear-gradient(#4D944D, #D0D0D0); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#4D944D, #D0D0D0); /* For Opera 11.1 to 12.0 */
 	background: -moz-linear-gradient(#4D944D, #D0D0D0); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#4D944D, #D0D0D0); /* Standard syntax */
	box-shadow: 10px 10px 5px #246B24;
}

/*Style for the login and signup page - background*/
.centerlogin{
	width: auto;
	height:  auto;
	border-style: solid;
     	border-width: 1px;
	border-color: black;
	padding: 20px;
	margin-right:  20%;
	margin-left: 20%;
 	background: -webkit-linear-gradient(#4D944D, #CCE0CC); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#4D944D, #CCE0CC); /* For Opera 11.1 to 12.0 */
 	background: -moz-linear-gradient(#4D944D, #CCE0CC); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#4D944D, #CCE0CC); /* Standard syntax */
}

.form {
	font-size: 120%;
	font-weight: bold;
}

.list {

	border-style: solid;
     	border-width: 2px;
	border-color: green;
	margin-bottom: 5px;
	padding: 10px;
	border-radius: 25px;
}

/* Style for the login and signup page - the data form*/
.login {
	border-style:none solid solid none;
     	border-width: 4px;
	border-color: green;
	margin-bottom: 5px;
	padding: 15px;
	border-radius: 25px;
 	background: -webkit-linear-gradient(#197519, #99C299); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#197519, #99C299); /* For Opera 11.1 to 12.0 */
 	background: -moz-linear-gradient(#197519, #99C299); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#197519, #99C299); /* Standard syntax */
}

.indent {

	border-style: solid;
     	border-width: 2px;
	border-color: green;
	margin-bottom: 5px;
	padding: 10px;
	border-radius: 25px;
	width: auto;
	height:  auto;
	margin-right:  5%;
	margin-left: 10%;
}

.logo {
	float: left;
	margin-right:70px;
	box-shadow: 5px 5px 3px #246B24;
	border-radius: 25px;
	background-color: #479147
}

.imageFormat {
	border-radius: 25px;
}

.listHeader {

	border-style: solid;
     	border-width: 2px;
	border-color: green;
	margin-bottom: 5px;
	padding: 21px;
	border-radius: 25px;
}

.navigation{
	
}


